<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Covid-19 Paises</h1>
  <hr>

  <div class="form-group col-lg-5 mx-auto">
    <label for="c">Selecciona Pais</label>
    <select name="country" class="form-control" id="c" #input (change)="updateValues(input.value)">
      <option value="" selected disabled>Selecciona una opcion</option>
      <option *ngFor="let country of countries" value="{{country}}" >
        {{country}}
      </option>
    </select>
  </div>

  <app-dashboard-card [totalConfirmed]='totalConfirmed'
                      [totalActive]='totalActive'
                      [totalRecovered]='totalRecovered'
                      [totalDeaths]='totalDeaths'>
  </app-dashboard-card>
</div>
